/* Homepage.module.css */

.home {
    background-image: url("/background.jpg"); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
    
  }
  
 .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
 }

 .title{
    font-size: 200px;
    font-weight: 700;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    padding:0 30px;
    box-shadow: 5px 5px 0px  #7fffd4;
 }
